@page
@model BBankTestTask.Pages.EditProductModel

@{
    ViewData["Title"] = "EditProduct";
}

<h1>Редактирование продукта</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label">Наименование продукта</label>
                <input asp-for="Product.ProductName" class="form-control" required/>
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryName" class="control-label">Категория</label>
                <select asp-for="Product.CategoryName" class="form-control" asp-items="ViewBag.CategoryName"></select>
                <span asp-validation-for="Product.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label">Описание</label>
                <input asp-for="Product.ProductDescription" class="form-control" />
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductPrice" class="control-label">Стоимость в рублях</label>
                <input asp-for="Product.ProductPrice" class="form-control"/>
                <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductGenaralNote" class="control-label">Примечание общее</label>
                <input asp-for="Product.ProductGenaralNote" class="form-control" />
                <span asp-validation-for="Product.ProductGenaralNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductSpeciallNote" class="control-label">Примечание специальное</label>
                <input asp-for="Product.ProductSpeciallNote" class="form-control" />
                <span asp-validation-for="Product.ProductSpeciallNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <button type="submit" class="btn btn-danger">
                    <a asp-page="/DeleteProduct" asp-route-id="Product.ProductId">Удалить</a>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ShowProducts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
